//max

@media (max-width: 576px) { 
    .spacer-md{
        margin-top: 2.5rem;
    }
 }
 @media (max-width: 768px) { 
    .gf{
        width: 100% !important;
    }
}
 @media (max-width: 992px) { 
    .tenp{
        display: none;
    }
    .ninp{
        width: 100% !important;
    }
    .img-wrapper{
        display: none;
    }  
    .hero-logo-container{
        height: 10rem;
        width: 35.1rem;
        border-radius: 7rem;
        top: -2.7rem;
        left: -15.4rem;
    }
 }

 @media (max-width: 1440px) { 
    .w-80{
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
    }
    .base-logo{
        display: none;
    }
 }

 //min

@media (min-width: 576px) { 
    html{
        font-size: 6px;
    }
    .spacer-md{
        margin-top: 2.5rem;
    }
    .newspaper {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
      }
 }

@media (min-width: 768px) { 
    html{
        font-size: 7px;
    }
    .spacer-md{
        margin-top: 0;
    }
    .newspaper {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
      }

 }
 @media (min-width: 1200px) { 
    html{
        font-size: 8px;
    }
 }
 @media (min-width: 1440px) { 
    html{
        font-size: 9.6px;
    }
 }

 @media (min-width: 1100px) { 
    .hero-logo-container{
        height: 10rem;
        width: 36.1rem;
        border-radius: 7rem;
        top: -2.7rem;
        left: -9.4rem;
    }
 }
 @media (min-width: 1440px) { 
     footer .img-wrapper{
         display: none;
     }
     .hero-logo-container{
         display: none;
     }
     .navbar{
         background-color: rgba(255, 255, 255, 0.5);
         border-radius: 0rem 0rem 0.8rem 0.8rem;
        padding: 1rem 3rem;
         a{
            color: #202020 !important;
         }
         a:hover{
            //  font-weight: 600;
            text-decoration: underline;
         }
         a.active{
            //  font-weight: 600;
            text-decoration: underline;
         }
     }
 }
@media (min-width: 2500px) { 
    .hero-image{
        background-size: 3200px auto;
    }
    .hero-logo-container{
        height: 10rem;
        width: 40.1rem;
        border-radius: 7rem;
        top: -2.7rem;
        left: -6.4rem;
    }
 }
