@import url("animation.css");
@import url("button.css");

$poppins: 'Poppins',sans-serif;

$white: #fff;
$black: #000;
$light: #f8f9fa;

$primary-light: #7ed56f;
$primary-dark: #28b485;
$primary-middle: #51C47A;

html{
    font-size: 5px;
}
body{
    font-family: $poppins;
    font-size: 1.6rem;
}
.w-80{
    max-width: 180rem;
    margin: 0 auto;
    overflow: hidden;
}
.contact{
    margin-top: .7rem;
    font-size: 1.5rem;
    i, a{
        color: $white;
        text-decoration: none;
    }
}
.text-main{
    color: $primary-middle !important;
}
.icon-wrapper{
    display: inline-block;
    font-size: 1.3rem;
    height: 3.6rem;
    width: 3.6rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: all 0.5s;
    a{
        color: $white;
    }
    i{
        padding: 1.1rem 1.2rem;
    }
    &:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.hero{
    &-wrapper{
        position: relative;
        height: 80vh;
        width: 100%;
        overflow: hidden;
        z-index: 9999;
        &-sub{
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../img/bg1.jpg");
            background-size: cover;
            background-position: center;
            // height: 55rem;
            position: relative;
            z-index: 10;
            h1{
                font-size: 6rem;
                color: $white;
                background: linear-gradient(to right, hsla(160, 64%, 43%, 0.7), hsla(111, 55%, 64%, 0.7));
                display: inline;
            }
            .h1-wrapp{
                padding: 20rem 0 15rem 0;
            }
        }
    }
    &-image{
        -webkit-animation: bg 60s linear infinite;
        animation: bg 60s linear infinite;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        /* Set your background with this */
        background: url("../img/hero-optimised-min.jpg") bottom left;
        background-position: center;
        background-size: cover;
        background-repeat: repeat-x;
        height: 100%;
        opacity: 1;
        position: absolute;
        background-size: 1950px auto;
        width: 10750px;
    }
    &-logo-container{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        height: 10rem;
        width: 36.1rem;
        border-radius: 7rem;
        top: -2.7rem;
        left: -13.4rem;
    }
    &-text{
        color: $white;
        position: absolute;
        bottom: 7rem;
        h1{
            font-size: 5.4rem;
            font-weight: 500;
            line-height: 5.5rem;
        }
        h6{
            font-weight: 400;
            font-size: 2rem;
            opacity: 0.8;
        }
    }
}
.main-body{
    margin-top: -2rem;
    h2 {
        font-size: 3.6rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: $primary-middle;
        background: -webkit-linear-gradient($primary-light, $primary-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h1 {
        font-size: 4.2rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: $primary-middle;
        background: -webkit-linear-gradient($primary-light, $primary-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3 {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: $primary-middle;
        background: -webkit-linear-gradient($primary-light, $primary-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    img{
        height: 27rem;
        width: 100%;
        transition: all 0.3s;
    }
    a{
        // background-color: #000;
        display: block;
    }
    img:hover{
        opacity: 0.8;
    }
    p, textarea, input, button{
        font-size: 2rem;
        opacity: 0.9;
    }
    p.small{
        font-size: 1.7rem;
        opacity: 0.9;
        font-weight: 400;
    }
    textarea, input{
        padding: 2.3rem;
    }
    button{
        padding: 1.2rem;
    }
}
.navbar-brand{
    img {
        height: 5.5rem;
        // margin: 3.2rem 18.3rem;
    }
}
.nav-item{
    font-weight: 500;
}
.features{
    background: linear-gradient(to right, $primary-dark, $primary-light);
    img{
        width: 100%;
    }
    h3{
        font-size: 3rem;
        font-weight: 500;
    }
    p{
        font-size: 1.7rem;
        opacity: 0.9;
        font-weight: 400;
    }
}
.about,
.gallery,
.testimonials,
.services,
.news {
    overflow: hidden;
    p{
        font-size: 2rem;
        opacity: 0.9;
    }
    .tenp{
        width: 5%;
        border-right: 2px solid rgba(85, 85, 85, 0.2);
    }
    .ninp{
        width: 95%;
        padding-left: 2.6rem;
    }
    img{
        height: 14rem;
    }
    h2 {
        font-size: 3.6rem;
        font-weight: 600;
        width: 20rem;
        color: $primary-middle;
        background: -webkit-linear-gradient($primary-light, $primary-dark);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .rotate {
        margin-top: 11.2rem;
        transform: rotate(-90deg);
    }

    h3.colored {
        font-size: 3rem;
        font-weight: 500;
        color: $primary-middle;
    }
}
.gallery {
    .rotate {
        margin-top: 9rem;
    }
    img{
        transition: all 0.3s;
        // filter: saturate(1.2);
    }
    img:hover{
        opacity: 0.9;
    }
}
.testimonials{
    text-align: center;
    h2 {
        font-size: 3.6rem;
        font-weight: 600;
        width: 25rem;
    }
    .rotate {
        margin-top: 19rem;
    }
    .item{
        width: 80%;
        margin: auto;
        text-align: center;
        h4{
            font-size: 2rem;
            font-weight: 400;
            opacity: 0.9;
            line-height: 3.1rem;
        }
        h3{
            font-weight: 500;
            font-size: 2.5rem;
            opacity: 0.9;
        }
    }
    img{
        height: 6rem;
        width: auto;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: 0.4;
        transition: all 0.5s;
    }
    img:hover{
        -webkit-filter: grayscale(0%);
        opacity: 1;
    }
}
.services{
    img{
        width: 98%;
        height: auto;
        margin: auto;
        -ms-transform: skewX(-1deg); /* IE 9 */
        -webkit-transform: skewX(-1deg); /* Safari */
        transform: skewX(-1deg); /* Standard syntax */
    }
    h2 {
        font-size: 3.6rem;
        font-weight: 600;
        width: 37rem;
    }
    .rotate {
        margin-top: 29rem;
    }
    li{
        font-size: 2rem;
        opacity: 0.9;
        list-style-type: none;
        line-height: 3.1rem;

        .sec{
            margin-left: 2.7rem !important;
        }
    }
    li::before{
        margin-right: 1.2rem;
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        -moz-border-radius: .75rem;
        -webkit-border-radius: .75rem;
        border-radius: 7.5px;
        background-color: $primary-middle;
    }
}
.news{
    h2 {
        font-size: 3.6rem;
        font-weight: 600;
        width: 12rem;
    }
    .rotate {
        margin-top: 4rem;
    }
    input{
        font-size: 1.6rem;
        border: 0.2rem solid $primary-middle;
        padding: 2rem 3rem;
        border-radius: 20rem;
        background-color: transparent !important;
        // width: 90rem;
        display: inline-block;
    }
}

footer{
    background: linear-gradient(to right, $primary-dark, $primary-light);
    color: $white;
    position: relative;
    h4{
        font-weight: 500;
        font-size: 2.7rem;
    }
    img{
        width: 100%;
        height: auto;
    }
    h5{
        font-weight: 500;
        font-size: 2rem;
    }
    .blog-section{
        transition: all 0.5s;
    }
    .blog-section:hover{
        // background-color: rgba(0, 0, 0, 0.1);
        h5{
            text-decoration: underline;
        }
    }
    p{
        font-size: 1.6rem;
        opacity: 0.9;
    }
    .img-wrapper{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        height: 8rem;
        width: 29rem;
        border-radius: 7rem;
        top: 4rem;
        left: -3.5rem;
        img{
            margin: 1rem 0rem 0 9rem;
            height: 5.5rem;
            width: auto
        }
    }
    .last{
        background-color: rgba(0, 0, 0, 0.1);
        a{
            text-decoration: none;
        }
    }
}

hr{
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

// button
.btn:link,
.btn:visited {
    font-size: 1.6rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20rem;
    color: $white;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.ghostbtn:link,
.ghostbtn:visited {
    border: 0.2rem solid $white;
    color: $white;
}

.ghostbtn:hover,
.ghostbtn:active {
    border: 0.2rem solid $white;
    background-color: $white;
    color: $black;
}

.ghostbtn-green:link,
.ghostbtn-green:visited {
    border: 0.2rem solid $primary-middle;
    color: $primary-middle;
}

.ghostbtn-green:hover,
.ghostbtn-green:active {
    border: 0.2rem solid $primary-middle;
    background-color: $primary-middle;
    color: $white;
}

.btn-sm:link,
.btn-sm:visited {
    font-size: 1.3rem;
    display: inline-block;
    padding: .8rem 2rem;
}
.spacer{
    margin-top: 2.5rem;
}
.text-large{
    font-size: 3rem;
    font-weight: 500;
}
.card-body{
    font-size: 2rem !important;
}
.normal-white-space{
    text-align: left !important;
    white-space: normal !important;
}
.base-logo{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    height: 8rem;
    width: 22rem;
    border-radius: 7rem;
    left: 1.5rem;
    img{
        margin: 1rem 0rem 0 5rem;
        height: 5.5rem;
        width: auto
    }
}
.team{
    img{ 
        width: 100%;  
        height: auto;
        object-fit: cover;
    } 
}

.blog-container{
    h2{
        font-size: 3rem;
    }
    a:hover{
        color: #28b485;
    }
}

