@media (max-width: 576px) {
  .spacer-md {
    margin-top: 2.5rem; } }

@media (max-width: 768px) {
  .gf {
    width: 100% !important; } }

@media (max-width: 992px) {
  .tenp {
    display: none; }
  .ninp {
    width: 100% !important; }
  .img-wrapper {
    display: none; } }

@media (min-width: 576px) {
  html {
    font-size: 6px; }
  .spacer-md {
    margin-top: 2.5rem; } }

@media (min-width: 768px) {
  html {
    font-size: 7px; }
  .spacer-md {
    margin-top: 0; } }

@media (min-width: 992px) {
  html {
    font-size: 8px; } }

@media (min-width: 2500px) {
  .hero-image {
    background-size: 3200px auto; } }
