@import url("animation.css");
html {
  font-size: 9px; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem; }

.w-80 {
  width: 94%;
  margin: 0 auto;
  overflow: hidden; }

.contact {
  margin-top: .7rem;
  font-size: 1.5rem; }
  .contact i, .contact a {
    color: #fff;
    text-decoration: none; }

.icon-wrapper {
  display: inline-block;
  font-size: 1.3rem;
  height: 3.6rem;
  width: 3.6rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: all 0.5s; }
  .icon-wrapper a {
    color: #fff; }
  .icon-wrapper i {
    padding: 1.1rem 1.2rem; }
  .icon-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.hero-wrapper {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  z-index: 9999; }

.hero-image {
  -webkit-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* Set your background with this */
  background: url("../img/hero-optimised-min.jpg") bottom left;
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  height: 100%;
  opacity: 1;
  position: absolute;
  background-size: 1950px auto;
  width: 10750px; }

.hero-logo-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  height: 10rem;
  width: 36.1rem;
  border-radius: 7rem;
  top: -2.7rem;
  left: -13.4rem; }

.hero-text {
  color: #fff;
  position: absolute;
  bottom: 7rem; }
  .hero-text h1 {
    font-size: 5.4rem;
    font-weight: 500;
    line-height: 5.5rem; }
  .hero-text h6 {
    font-weight: 400;
    font-size: 2rem;
    opacity: 0.8; }

.navbar-brand img {
  height: 5.5rem; }

.nav-item {
  font-weight: 500; }

.btn:link,
.btn:visited {
  font-size: 1.7rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20rem;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

.ghostbtn:link,
.ghostbtn:visited {
  border: 0.2rem solid #fff;
  color: #fff; }

.ghostbtn:hover,
.ghostbtn:active {
  border: 0.2rem solid #fff;
  background-color: #fff;
  color: #584444; }

.features {
  background: linear-gradient(to right, #28b485, #7ed56f); }
  .features img {
    width: 100%; }
  .features h3 {
    font-size: 3rem;
    font-weight: 500; }
  .features p {
    font-size: 1.7rem;
    opacity: 0.9;
    font-weight: 400; }

.about,
.gallery,
.testimonials {
  overflow: hidden; }
  .about p,
  .gallery p,
  .testimonials p {
    font-size: 2rem;
    opacity: 0.9; }
  .about .tenp,
  .gallery .tenp,
  .testimonials .tenp {
    width: 5%;
    border-right: 2px solid rgba(85, 85, 85, 0.2); }
  .about .ninp,
  .gallery .ninp,
  .testimonials .ninp {
    width: 95%;
    padding-left: 2.6rem; }
  .about img,
  .gallery img,
  .testimonials img {
    height: 14rem; }
  .about h2,
  .gallery h2,
  .testimonials h2 {
    font-size: 3.6rem;
    font-weight: 600;
    width: 20rem;
    background: -webkit-linear-gradient(#7ed56f, #28b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .about .rotate,
  .gallery .rotate,
  .testimonials .rotate {
    margin-top: 11.2rem;
    transform: rotate(-90deg); }
  .about h3.colored,
  .gallery h3.colored,
  .testimonials h3.colored {
    font-size: 3rem;
    font-weight: 500;
    color: #51C47A; }

.gallery .rotate {
  margin-top: 9rem; }

.testimonials {
  text-align: center; }
  .testimonials h2 {
    font-size: 3.6rem;
    font-weight: 600;
    width: 25rem;
    background: -webkit-linear-gradient(#7ed56f, #28b485);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .testimonials .rotate {
    margin-top: 19rem; }
  .testimonials .item {
    width: 80%;
    margin: auto;
    text-align: center; }
    .testimonials .item h4 {
      font-size: 2rem;
      font-weight: 400;
      opacity: 0.9;
      line-height: 3.1rem; }
    .testimonials .item h3 {
      font-weight: 500;
      font-size: 2.5rem;
      opacity: 0.9; }
  .testimonials img {
    height: 6rem;
    width: auto;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.4; }
